.png0 {
    width: 500px;
    height: 300px;
}
.png1 {
    width: 300px;
    height: 400px;
}

.png2 {
    width: 400px;
    height: 400px;
}
.png3 {
    width: 700px;
    height: 400px;
}
.png4 {
    width: 250px;
}
.png5 {
    width: 300px;
}
.png6 {
    width: 300px;
}
.png7 {
    width: 300px;
}
.png8 {
    width: 300px;
}
.png9 {
    width: 200px;
    height: 400px;
}
.png10 {
    width: 500px;
}
.png11 {
    width: 300px;
    
}