<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live a life of an Adblocker</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="parent">
        <h1>Live a life of an Adblocker</h1>
      <p id="punOutput"></p>
        <!-- LOCK by Jamie -->
        <div id="ad-box"></div>
        <script src="/static/index.js"></script>
    </div>
</body>

</html>