<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Pun Generator</title>
    <link rel="stylesheet" href="/static/index.css">
    <style>
        body {
            cursor: url('/static/cursor.png'), auto;
            /* Change cursor */
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <div class="parent">
        <h1>AI Pun Generator</h1>
      <p id="punOutput"></p>
        <!-- LOCK by Jamie -->
        <div id="ad-box"></div>
        <script src="/static/index.js"></script>
    </div>
</body>

</html>